﻿@using Microsoft.AspNetCore.Localization
@using TicketManagment.Application
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureList = ViewData["Cultures"] as List<SelectListItem>;
}
﻿@using Microsoft.AspNetCore.Localization
@using TicketManagment.Application
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">@Html.Translate("ManageTicket")</h4>
    </div>
    <div class="col-md-7 align-self-center text-end">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb justify-content-end">
                <li class="breadcrumb-item"><a href="javascript:void(0)">@Html.Translate("Ticket")</a></li>
                <li class="breadcrumb-item active">@Html.Translate("ManageTicket")</li>
            </ol>
            <!-- <button type="button" class="btn btn-info d-none d-lg-block m-l-15 text-white"><i class="fa fa-plus-circle"></i> Create New</button> -->
        </div>
    </div>
</div>
 

<form id="selectLanguage" asp-controller="Home"
      asp-action="SetLanguage" asp-route-returnUrl="@Context.Request.Path"
      method="post" role="form" style="width: 100%">
    <select class="form-control" name="culture"
            asp-for="@requestCulture.RequestCulture.UICulture.Name" asp-items="cultureList" onchange="this.form.submit()"></select>
</form>
<div id="divResponse">
    @await Html.PartialAsync("_TicketList",null)
</div>
<div>
    @await Html.PartialAsync("_CreateTicket",new CreateTicketVM())
</div>


@section Scripts{
    <script src="~/js/Ticket/ticketManagement.js"></script>
    <partial name="_ValidationScriptsPartial" />
}
